DB_HOST=YOUR_AIVEN_HOST
DB_PORT=23095
DB_USER=avnadmin
DB_PASSWORD=YOUR_AIVEN_PASSWORD
DB_NAME=defaultdb
DB_SSL=true
PUBLIC_BASE_URL=http://localhost:5173
#database connection string for aiven cloud database